BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpacesInParentheses: false
SpaceAfterCStyleCast: true
PointerAlignment: Right
DerivePointerAlignment: false
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackArguments: true
BinPackParameters: true
ReflowComments: false
SortIncludes: false
