BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpacesInParentheses: false
PointerAlignment: Right
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ReflowComments: false
SortIncludes: false
