*.o
*.a
*.in
*.lo
*.la
*.Po
*.Plo
*.lai
*.pyc
*.ncb
*.user
*.suo
*.sdf
*.dylib*
*.dirstamp
*.opendb
*.xccheckout

config.*

.DS_Store

Makefile
missing
libtool
depcomp
compile
stamp-h1
configure
configure~
install-sh
test-driver
hello.txt
ltmain.sh
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
graph_info.json

conan.lock
conaninfo.txt
bit_stream.*
conanbuildinfo.*
conan_toolchain.cmake
conanbuild*.sh
conanrun*.sh
deactivate_conan*.sh
cmakedeps_macros.cmake
conandeps_legacy.cmake
CMakePresets.json
CMakeUserPresets.json

CMakeCache.txt
cmake_install.cmake
/ALL_BUILD.*

/x64
/bin
/lib
/build
/dist
/CMakeFiles
/viriatum.dir
/viriatum_commons.dir
/ALL_BUILD.*
/ZERO_CHECK.*
/viriatum.*
/viriatum_commons.*
/autom4te.cache
/win32/vs2015/*/*
/win32/vs2008ex/*/*
/src/viriatum/viriatum
/scripts/build/tmp
/scripts/build/builds
/scripts/build/win32/build
/scripts/build/win32/base
/scripts/build/win32/modules
/darwin/xcode4/viriatum.xcworkspace/xcuserdata
/darwin/xcode4/viriatum/viriatum.xcodeproj/xcuserdata
/darwin/xcode4/viriatum_commons/viriatum_commons.xcodeproj/xcuserdata
