*.o
*.a
*.in
*.lo
*.la
*.Po
*.Plo
*.lai
*.pyc
*.ncb
*.user
*.suo
*.sdf
*.dylib*
*.dirstamp
*.opendb
*.xccheckout

config.*

.DS_Store

Makefile
missing
libtool
depcomp
compile
stamp-h1
viriatum
configure
install-sh
test-driver
ltmain.sh
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
graph_info.json

conan.lock
conaninfo.txt
conanbuildinfo.*

CMakeCache.txt
cmake_install.cmake
/ALL_BUILD.*

/x64
/bin
/build
/dist
/CMakeFiles
/viriatum.dir
/ALL_BUILD.*
/ZERO_CHECK.*
/viriatum.*
/autom4te.cache
/win32/vs2015/*/*
/win32/vs2008ex/*/*
/scripts/build/tmp
/scripts/build/builds
/scripts/build/win32/build
/scripts/build/win32/base
/scripts/build/win32/modules
/darwin/xcode4/viriatum.xcworkspace/xcuserdata
/darwin/xcode4/viriatum/viriatum.xcodeproj/xcuserdata
/darwin/xcode4/viriatum_commons/viriatum_commons.xcodeproj/xcuserdata
